# .NET
bin/
obj/

# Angular / Node
node_modules/
.angular/
dist/

# VS Code
.vscode/

# Visual Studio
.vs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python
.venv/
__pycache__/
*.pyc
.env

# Local configuration / secrets
appsettings.Development.json