# .NET
bin/
obj/

# Angular / Node
node_modules/
.angular/
dist/

# VS Code
.vscode/

# Visual Studio
.vs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python
.venv/
__pycache__/
*.pyc
.env
chroma_db/

# Local configuration / secrets
appsettings.Development.json


/Internship_Week_7_Detailed_Tasks.pdf
/Nexa Solutions Offer Letter.docx
/Nexa Solutions Offer Letter.pdf